@import "../../node_modules/bourbon/app/assets/stylesheets/bourbon";

.textContainer {
  padding: 5px;

  &:hover {
    cursor: text;
  }
}

.input, .textContainer:hover {
  border: 1px solid #ccc;
  margin: 0;
  padding: 4px;
  width: 100%;
}

.placeholder {
  @include ellipsis;
  color: #999;
  vertical-align: top;
}
